@import url('https://fonts.cdnfonts.com/css/arial');

*{
    font-family: 'Arial Light', sans-serif;
}
/* header - start */
@font-face {
  font-family: 'Helvetica-regular' ;
  src: url(polices_accueil/Helvetica-regular.ttf);
}

#titre-header a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

footer a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

a:-webkit-any-link {
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-decoration: none;
}

header{
  height: 150px;
  background-color:#35A7D9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo{
  width: 185px;
  height: 120px;
  cursor: pointer;
}

#titre-header{
  width: 27%;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 15px RGBA(0,95,136,0.60);
  cursor: pointer;
  font-size: 45px;
  margin-top: 61px;
  font-family: 'Helvetica-regular' ;
}

#wrap {
  width: 50%;
}

nav.menu ul li.btn a{
  color: rgb(12, 12, 12);
  background-color: white;
  text-decoration: none;
}

nav.menu ul li.btn:hover a{

  color: black;
  background-color: #35A7D9;
  transition: 0.3s all;
}

.navbar {
  height: 60px;
  padding: 0;
  margin: 0;
  position: absolute;
}

.navbar li {
  height: auto;
  width: 200.8px;
  float: left;
  text-align: center;
  list-style: none;
  font: normal bold 17px/1em Arial, Verdana, Helvetica;
  padding: 0;
  margin: 0;
  background-color: #444444;
}

.navbar a {
  padding: 18px 0;
  border-left: 1px solid #ccc9c9;
  text-decoration: none;
  color: white;
  display: block;
}

.navbar li ul {
  display: none;
  height: auto;
  margin: 0;
  padding: 0;
}

.navbar li:hover ul {
  display: block;
}

/* header - end */
section{
    padding: 50px;
}

.titre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
  

.img{
    height: 450px;
    width: 600px;
    position: relative;
}



/*-----*/



.plage{
    margin-top: -100px;
}

.plage .contenu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.plage .contenu .box{
    width: 350px;
    margin: 20px;
    border: 20px solid #fff;
    box-shadow: 20px 15px 35px rgba(0,0,0, 0.8);
}

.plage .contenu .box .imbox{
    position: relative;
    width: 100%;
    height: 300px;
}

.plage .contenu .box .imbox img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.plage .contenu .box .text{
    text-align: center;
    font-weight: 300px;
    color: #111;
}

.plage .contenu .box .text h3{
    font-weight: 900;
    padding-top: 35px;
}
.plage .contenu .box .text p{
 
  padding-top: 20px;
}


.expert{
    margin-top:-100px;
}

.expert .contenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.expert .contenu .box{
    width: 250px;
    margin: 15px;
}
.expert .contenu .box img{
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.expert .contenu .box h3{
    color: #111;
    font-weight: 400;
    text-align: center;
}
.bouton1{
    font-size: 1em;
    background: #83bef2;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
    }
    /*footer - start*/

  *{
    margin: 0;
    padding: 0;
  }
  
  footer{
    height: 150px;
    display: flex;
    flex-direction: row;
    font-family: 'Arial Light', sans-serif;
    background-color: #35A7D9;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
  }


  li{
    list-style: none;
  }

  #res-soc{
    display: flex;
    flex-direction: row;
  }

  .lien-footer{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
  }

  .other-links li{
    margin-top: 5px;
    }

  #mars-ville{
    height: 100px;
    width: 100px;
  }
  
  #metropol-logo{
    height: 75px;
    width: 135px;
  }
  
  #cons-gen-logo{
    height: 75px;
    width: 300px;
  }
  
  #res-soc img{
    width: 80px;
    height: 80px;
    box-shadow:6px 6px 10px RGBA(0,100,152,0.7);
    border-radius: 50%;
    margin: 5px;
  }

  #res-soc img:hover{
opacity: 70%;
  }

 .box-shadow{
  border: solid 2px #35A7D9;
  padding: 5px;
  box-shadow:0 0 5px RGBA(59,89,152,0.4);
 }

/* footer - end*/